.main{
	width: 100%;
}

.section {
    margin: 50px 0px 0px 0px;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}

th {
	padding: 5px;
    text-align: left;
	font-weight: normal;
	width:180px
}

td {
    padding: 5px;
    text-align: left;
}

.content {
    margin: 40px auto;
    position: relative;
    width: 960px;
}

.work_content{
    margin-top: 5px;
    margin-left: 5px;
}

.work_content ul li{
    margin-top: 5px;
}